<%- include('partials/head', {pageTitle: 'Edit Label'}) %>

<body>
    <%- include('partials/navbar') %>

    <div class="mt-5 container">
        <div class="w-50 mx-auto">
            <h1>Edit Label</h1>
            
            <form action="/label/edit/<%= data.id %>" method="POST">
            <div>
                <br>
                <label for="name" style="color: black"> Name</label><br>
                <input type="text" name="name" value="<%= data.name %>"><br>
                <%- include('partials/formValidationComponent.ejs', {errorValidations, path: 'name', validatorKey: 'notEmpty'}) %>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button class="btn btn-success"><a href="/label">Cancel</a></button>
            </div>
            </form>
        </div>
    </div>
    <%- include('partials/script') %>
</body>
</html>
